src/Common.XmlSchema.Tests/TestData/DiscoveryManifest.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2017 (x64) (http://www.altova.com) by Xiaodong Li (Private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="UpdateDiscoveryManifest">
    <xs:sequence>
      <xs:element name="ManifestInfo" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="CreationDate" type="xs:dateTime" use="required"/>
          <xs:attribute name="CreatedBy" type="xs:string"/>
          <xs:attribute name="ManifestType" type="ManifestType"/>
          <xs:attribute name="ReleaseType" type="ReleaseType"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Services" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ApplicableUpdate" type="ApplicableUpdate" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="RecalledUpdate" type="ApplicableUpdate" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Platform" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ApplicableUpdate" type="ApplicableUpdate"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PackageMetadata" type="PackageMetadata" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicableUpdate">
    <xs:sequence>
      <xs:element name="ValidatedConfigurations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequiredPackages" type="RequiredPackages" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateInfo" type="UpdateInfo"/>
      <xs:element name="File" type="File" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="MetadataFile" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="Name" type="xs:string"/>
          <xs:attribute name="Uri" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="SolutionMetadata" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Update" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="Type" type="xs:string" use="required"/>
                <xs:attribute name="Version" type="xs:string" use="required"/>
                <xs:attribute name="InstallType"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BillOfMaterials" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="BomItem" type="BomItemType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Type" type="xs:string" use="required"/>
    <xs:attribute name="Version" type="xs:string" use="required"/>
    <xs:attribute name="OEMVersion" type="xs:string"/>
    <xs:attribute name="ReleaseRing" type="ReleaseRing"/>
    <xs:attribute name="DeferScanAndDownload" type="xs:boolean"/>
    <xs:attribute name="InstallType" type="InstallType"/>
    <xs:attribute name="Family" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="UpdateInfo">
    <xs:sequence>
      <xs:element name="UpdateName" type="xs:string"/>
      <xs:element name="Version" type="xs:string"/>
      <xs:element name="Type" type="xs:string" minOccurs="0"/>
      <xs:element name="Description" type="xs:string" minOccurs="0"/>
      <xs:element name="Tags" type="xs:string" minOccurs="0"/>
      <xs:element name="PackageSizeInMb" type="xs:unsignedInt" minOccurs="0"/>
      <xs:element name="KBLink" type="xs:string" minOccurs="0"/>
      <xs:element name="MinVersionRequired" type="xs:string" minOccurs="0"/>
      <xs:element name="MinOEMVersionRequired" type="xs:string" minOccurs="0"/>
      <xs:element name="PlatformConsistencyEnforcement" type="xs:string" minOccurs="0"/>
      <xs:element name="PackageHash" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="OemVersions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OEMVersion" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateImpact" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InstalledSBE" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="Version" type="xs:string" use="required"/>
                <xs:attribute name="RebootRequired" type="xs:string" use="required"/>
                <xs:attribute name="ExpectedDurationMinutes" type="xs:int"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ValidatedConfigurations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequiredPackages" type="RequiredPackages" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Publisher" type="xs:string" minOccurs="0"/>
      <xs:element name="SupportedModels" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SupportedModel" type="xs:string" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RebootRequired" type="RebootRequired" minOccurs="0"/>
      <xs:element name="Copyright" type="xs:string" minOccurs="0"/>
      <xs:element name="LicenseUri" type="xs:string" minOccurs="0"/>
      <xs:element name="InstallType" type="InstallType"/>
      <xs:element name="OEMFamily" type="xs:string"/>
      <xs:element name="PackageType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequiredPackages">
    <xs:sequence>
      <xs:element name="Package" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="Type" type="xs:string" use="required"/>
          <xs:attribute name="Version" type="xs:string"/>
          <xs:attribute name="MinVersionRequired" type="xs:string"/>
          <xs:attribute name="Publisher" type="xs:string"/>
          <xs:attribute name="Family" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PackageMetadata">
    <xs:sequence>
      <xs:element name="ServicesUpdates">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Update" type="ServiceUpdate" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PlatformUpdates">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Update" type="PlatformUpdate" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SBEUpdates">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Update" type="SbeUpdate" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="File">
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="Uri" type="xs:string" use="required"/>
    <xs:attribute name="Type" type="DeliveryType"/>
    <xs:attribute name="NotifyUri" type="xs:string"/>
    <xs:attribute name="NotifyMsg" type="xs:string"/>
  </xs:complexType>
  <xs:simpleType name="RebootRequired">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown"/>
      <xs:enumeration value="Yes"/>
      <xs:enumeration value="No"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BomItemType">
    <xs:sequence>
      <!-- Recursive definition: BomItem can contain BomItem -->
      <xs:element name="BomItem" type="BomItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string"/>
    <xs:attribute name="DisplayName" type="xs:string"/>
    <xs:attribute name="Version" type="xs:string"/>
  </xs:complexType>
  <xs:simpleType name="ManifestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OEM"/>
      <xs:enumeration value="SBE"/>
      <xs:enumeration value="Component"/>
      <xs:enumeration value="Solution"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReleaseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Draft"/>
      <xs:enumeration value="ReleaseCandidate"/>
      <xs:enumeration value="OEMRelease"/>
      <xs:enumeration value="MicrosoftPublished"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReleaseRing">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined"/>
      <xs:enumeration value="Canary"/>
      <xs:enumeration value="EarlyProduction"/>
      <xs:enumeration value="Production"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InstallType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Update"/>
      <xs:enumeration value="Hotfix"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DeliveryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown"/>
      <xs:enumeration value="Notify"/>
      <xs:enumeration value="Distribute"/>
      <xs:enumeration value="DownloadConnector"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ServiceUpdate">
    <xs:sequence>
      <xs:element name="UpdateInfo" type="UpdateInfo"/>
      <xs:element name="File" type="File"/>
    </xs:sequence>
    <xs:attribute name="Type" type="xs:string" use="required"/>
    <xs:attribute name="Version" type="xs:string" use="required"/>
    <xs:attribute name="InstallType" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="PlatformUpdate">
    <xs:sequence>
      <xs:element name="UpdateInfo" type="UpdateInfo"/>
      <xs:element name="OS" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Coldpatch" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="Version" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="Hotpatch" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="Version" type="xs:string" use="required"/>
                <xs:attribute name="BaselineVersion" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="Branch" type="xs:string" use="required"/>
          <xs:attribute name="SKU" type="xs:unsignedShort" use="required"/>
          <xs:attribute name="Product" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Type" type="xs:string" use="required"/>
    <xs:attribute name="Version" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="SbeUpdate">
    <xs:sequence>
      <xs:element name="UpdateInfo" type="UpdateInfo"/>
      <xs:element name="File" type="File"/>
    </xs:sequence>
    <xs:attribute name="Type" type="xs:string" use="required"/>
    <xs:attribute name="Version" type="xs:string" use="required"/>
    <xs:attribute name="Family" type="xs:string" use="required"/>
  </xs:complexType>
</xs:schema>
